

:root{
    --color1: #FF8A00;
    --color2: #ffffff;
    --color3: #cccccc;
    --color4: #000000; 
    --color-border: #c3c3c3;
    --white: #ffffff;
    --black: #000000;
    --gray: gray;
    --black2: #33363F;
    --white2: #F5F5F5;
    --blue: #2266BB;
    --blue-light: rgb(241, 166, 95);
}



body{
    background-color: var(--white2);
    font-family: "Inter";
    font-size: 1em;
}


.body.modal-open{
	overflow: hidden;
}


a{
    color: var(--blue);
}

a:hover{
    color: var(--blue-light)
}

@import "basicStyle.css";
@import "layoutStyle.css";
@import "utilStyle.css";


#snap-midtrans{
    width: 100vw !important;
}

.sticky-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
}

.filter-dropdown{
    border-radius: 20px;
    background: #F3F6FB;
    border:#000000;
    border-width: 1px;
    width: 228px;
    height: 31px;
    flex-shrink: 0;
}

.search-button{
    width: 104px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F3F6FB;
    border:#000000;
    border-width: 1px;
    margin-left: 2vw;
}
.search{
    display: flex;
    flex-direction: row;
}
.search-bar{
    width: 80vw;
    height: 31px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F5F5F5;
    border:#000000;
    border-width: 1px;
    padding-left: 4px;
}
.back-button {
    background: none;
    border: none;
    height: 31px;
}