
/* using percentage or view height value even for setting horizontal value */

.w-auto{
	width: auto !important;
}

.w-inherit{
	width: inherit !important;
}
.w-10{
	width: 10% !important;
}
.w-25{
	width: 25% !important;
}

.w-40{
	width: 40% !important;
}

.w-45{
	width: 45% !important;
}

.w-50{
	width: 50% !important;
}

.w-75{
	width: 75% !important;
}

.w-90{
	width: 90% !important;
}

.w-100{
	width: 100% !important;
}

.h-100{
	height: 100% !important;
}

.h-30{
	height: 30% !important;
}

.h-50{
	height: 50% !important;
}

.h-auto{
	height: auto !important;
}

.h-inherit{
	height: inherit !important;
}

.vh-8{
	height: 8vh !important;
}

.vh-10{
	height: 10vh !important;
}

.vh-40{
	height: 40vh !important;
}

.vh-45{
	height: 45vh !important;
}

.vh-50{
	height: 50vh !important;
}

.vh-75{
	height: 75vh !important;
}

.vh-100{
	height: 100vh !important;
}

.vw-75{
	width: 75vw !important;
}
.vw-90{
	width: 90vw !important;
}
.vw-100{
	width: 100vw !important;
}

.space-3{
	height: 3vh !important;
}

.space-5{
	height: 5vh !important;
}

.space-10{
	height: 10vh !important;
}

.space-20{
	height: 20vh !important;
}

.pt-0{
	padding-top: 0px !important;
}

.pt-1{
	padding-top: 1vh !important;
}

.pt-2{
	padding-top: 2vh !important;
}

.pt-3{
	padding-top: 3vh !important;
}

.pb-0{
	padding-bottom: 0px !important;
}

.pb-1{
	padding-bottom: 1vh !important;
}

.pb-2{
	padding-bottom: 2vh !important;
}

.pb-3{
	padding-bottom: 3vh !important;
}

.pb-4{
	padding-bottom: 4vh !important;
}

.pb-5{
	padding-bottom: 5vh !important;
}

.pl-0{
	padding-left: 0px !important;
}

.pl-1{
	padding-left: 1vh !important;
}
.pl-2{
	padding-left: 2vh !important;
}
.pl-3{
	padding-left: 3vh !important;
}
.pl-4{
	padding-left: 4vh !important;
}
.pl-5{
	padding-left: 5vh !important;
}

.pr-1{
	padding-right: 1vh !important;
}
.pr-2{
	padding-right: 2vh !important;
}
.pr-3{
	padding-right: 3vh !important;
}
.pr-4{
	padding-right: 4vh !important;
}
.pr-5{
	padding-right: 5vh !important;
}
.pl-0{
	padding-left: 0px !important;
	padding-right: 0vh !important;
}

.px-1{
	padding-left: 1vh !important;
	padding-right: 1vh !important;
}
.px-2{
	padding-left: 2vh !important;
	padding-right: 2vh !important;
}
.px-3{
	padding-left: 3vh !important;
	padding-right: 3vh !important;
}
.px-4{
	padding-left: 4vh !important;
	padding-right: 4vh !important;
}
.px-5{
	padding-left: 5vh !important;
	padding-right: 5vh !important;
}

.py-0{
	padding-top: 0px !important;
	padding-bottom: 0vh !important;
}

.py-1{
	padding-top: 1vh !important;
	padding-bottom: 1vh !important;
}
.py-2{
	padding-top: 2vh !important;
	padding-bottom: 2vh !important;
}
.py-3{
	padding-top: 3vh !important;
	padding-bottom: 3vh !important;
}
.py-4{
	padding-top: 4vh !important;
	padding-bottom: 4vh !important;
}
.py-5{
	padding-top: 5vh !important;
	padding-bottom: 5vh !important;
}

.mb-0{
	margin-bottom: 0px !important;
}
.mb-1{
	margin-bottom: 1vh !important;
}
.mb-2{
	margin-bottom: 2vh !important;
}
.mb-3{
	margin-bottom: 3vh !important;
}
.mb-4{
	margin-bottom: 4vh !important;
}
.mb-5{
	margin-bottom: 5vh !important;
}



.mt-0{
	margin-top: 0px !important;
}

.mt-1{
	margin-top: 1vh !important;
}

.mt-2{
	margin-top: 2vh !important;
}

.mt-3{
	margin-top: 3vh !important;
}

.mt-4{
	margin-top: 4vh !important;
}

.mt-5{
	margin-top: 5vh !important;
}

.btm-0{
	bottom: 0 !important;
}