.no-text-decoration{
	text-decoration: none !important;
}

.text-link:active{
	color: #0C9;
}

.pointer{
	cursor: pointer !important;
}

.stroke-text{
	text-decoration: line-through !important;
}

.text-gray{
	color: #858585;
}

.text-primary{
	color:var(--color1);
}

.text-black2{
	color: var(--black2)
}

.text-center{
	text-align: center !important;
}

.text-end{
	text-align: right !important;
}

.text-big2{
	font-size: 1.2em !important;
}

.text-big1{
	font-size: 1.1em !important;
}

.text-small1{
	font-size: 0.9em !important;
}

.text-small2{
	font-size: 0.8em !important;
}

.text-small3{
	font-size: 0.7em !important;
}

.font-12{
	font-size: 12px !important;
}

.float-absolute{
	z-index: 10;
	position: absolute;
}

.container-flex{
	display: flex !important;
}

.container-between{
	display: flex !important;
	justify-content: space-between;
	/* align-items: baseline; */
}

.justify-bottom{
	vertical-align: bottom !important;
}

.justify-middle{
	align-items: center !important;
}

.bg-white{
	background-color: var(--white) !important;
}

.bg-none{
	background: none !important;
}


.hidden{
	display: none !important;
}

.card-b-shadow{
	width: 100%;
	box-shadow : 0 2px rgba(0,0,0,0.1);
	margin-bottom: 3px;
}

.card-t-shadow{
	/* width: 100%; */
	box-shadow : 0 -2px rgba(0,0,0,0.1);
	margin-top: 3px;
}

.card-box{
	width: inherit;
	border-radius: 8px;
	border: 1px solid rgba(0,0,0,0.2);
}

.card-list{
	transition : 0.3s;
	width: 100%;
	border-bottom: 0.5px solid rgba(0,0,0,0.2);
	border-top: 0.5px solid rgba(0,0,0,0.2);
}

.card-body{
	background-color: var(--white);
	padding: 2vw; 
}

.hr-dotted{
	border-top: 0.5px dotted rgba(0,0,0,0.2);
}

.btn-disabled{
	opacity: 0.5 !important;
	background-color: #CCCCCC !important;
	border-color: #CCCCCC !important;
	color: var(--gray) !important;
}

.btn-disabled > .icon-div{
	
	border: 1px solid #CCCCCC !important;
}


.center-div{
	margin: auto;
  width: 50%;

  padding: 10px;
}

.fixed-b{
	position: fixed;
	bottom: 0;
}

.box-top-radius{
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
}

.modal-container{
	position: fixed;
	z-index: 10;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: none;
	background-color: rgba(0,0,0,0.4);
}

.border-btm{
	border-bottom: 1px solid var(--gray);
}

.overflow-none{
	overflow: hidden !important;
}